################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api.Forex.DotNetCore/bin/Release/netcoreapp2.0
/Api.Forex.DotNetCore/obj
