@model Api.Forex.DotNetCore.Models.IndexViewModel
<section class="jumbotron text-center">
    <div class="container">
        @if (!Model.ForexRates.success)
        {
            <div class="alert alert-danger" role="alert">
                <h1 class="alert-heading">Api Error!</h1>
                You must provide an Api Key in your <b>appsettings.json</b><br />
                To get an api key open a Free account on <a target="_blank" href="https://api.forex">https://api.forex</a>
            </div>
        }
        <h1 class="jumbotron-heading">Free Api Forex .Net Core</h1>
        <p class="lead text-muted">Wrap the rest of the page in another container to center all the content</p>
        <p class="jumbotron-btn">
            <a href="#" class="btn btn-primary border-0 rounded-0 p-0">
                <i class="zmdi zmdi-flower-alt" aria-hidden="true"></i>
                <span>Read More</span>
            </a>
            <a href="#" class="btn btn-secondary border-0 rounded-0 p-0">
                <i class="zmdi zmdi-flower-alt" aria-hidden="true"></i>
                <span>Click here to Play</span>
            </a>
        </p>
        <p>NuGet: <code style="background-color:#fff; padding:5px">PM> Install-Package Api.Forex.Currency.Converter</code></p>
    </div>
</section>
<div class="container">
    <div class="row text-center">
        <div class="col-lg-4">
            <i class="zmdi zmdi-flower-alt zmdi-hc-5x md-60"></i>
            <h2>Rates</h2>
            <p>
                <pre><code class="c#">GetRates("USD", "EUR,GPB,CNY")</code></pre>
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <i class="zmdi zmdi-chart zmdi-hc-5x md-60"></i>
            <h2>Historics</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <i class="zmdi zmdi-github-alt zmdi-hc-5x md-60"></i>
            <h2>Usages</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">
</div>
