<ul class="list-group list-group-flush">
    <li class="list-group-item"><a asp-action="Example1" asp-controller="Examples">Currency converter</a></li>
    <li class="list-group-item">Currency list</li>
    <li class="list-group-item"><a asp-action="Example2" asp-controller="Examples">Prices converter</a></li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
</ul>